@tailwind base;
@tailwind components;
@tailwind utilities;

.btn {
  @apply text-white p-2 font-bold text-xs h-[2.5rem];
}

.input {
  @apply h-[2.75rem] px-5 my-1 border text-xs border-dark;
}

body {
  height: 100%;
}

*::-webkit-scrollbar {
  display: none;
}

select {
  background: url('assets/dropdown_button.svg') no-repeat 90% 50%;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}
